@import '../../../variables.scss';
@import '../../../mixins.scss';

.header {
    width: 100%;
    background-color: $white;
    box-shadow: 0rem .1rem .1rem rgba(0, 0, 0, .1);
    position: fixed;
    top: 0;
    z-index: 10;

    &-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 6.4rem;
    }

    &-logo {
        padding: .8rem 0;
    }

    &-login {
        display: flex;
        align-items: center;
        color: $black;

        svg {
            font-size: 2.2rem;
            margin: 0 0 0 .7rem;
            line-height: 0;
            color: #333;
        }
    }
}