@import '../../../variables.scss';
@import '../../../mixins.scss';

.wrapper {
    margin: 0 0 1.6rem;

    &-label {
        display: block;
        font-size: 1.6rem;
        line-height: normal;
        margin: 0 0 .8rem;
    }

    &-input {
        display: block;
        width: 100%;
        background-color: $white2;
        font-size: 1.6rem;
        border: .1rem solid $white2;
        padding: 1.28rem;
        border-radius: .64rem;
        transition: all .2s ease-in-out;

        &:hover,
        &:focus {
            outline: none;
            border-color: $yellow;
            background-color: $white;
            box-shadow: 0 0 0 .3rem $yellow-light;
        }
    }

    &-error {
        color: $red;
        font-size: 1.4rem;
        margin: .4rem;
    }
}