// cores
$black: #333333;
$black2: #555555;
$white: #ffffff;
$white2: #eeeeee;
$gray: #b5b5b5;
$yellow: #ffbb11;
$yellow-light: #ffeeaa;
$brown: #764701;
$red: #ff3311;
// fontes
$type-first: Helvetica,
Arial,
sans-serif;

$type-second: 'Spectral',
Georgia;

//Container
$breakpoint-xs: 0 !default;
$breakpoint-sm: 576px !default;
$breakpoint-md: 768px !default;
$breakpoint-lg: 992px !default;
$breakpoint-xl: 1200px !default;